.postContent {
  font-size: 24px;
  line-height: 43px;
  margin-bottom: 0.5em;
  font-weight: 700;
  margin-bottom: 0.4em;
  @media only screen and (min-width: 500px) {
    font-size: 34px;
  }
}

.postMetaData {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 900;
  margin-top: 0.4em;
  margin-right: 1em;

  svg {
    font-size: 0.85em;
    margin-right: 0.3em;
  }
  @media only screen and (min-width: 500px) {
    font-size: 24px;
  }
}

.postMeta {
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}
